<!doctype html>
<title>Eye Candy</title>
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->
<h1>Eye Candy</h1>
<p>Note that this displays at 60Hz, so bar speed of 1 is 60   px/s</p>
<form action="/v0.1/stimulus">
  Bar width (pixels):
  <input type="number" name="bar_width"><br>
  Bar speed (pixels/frame):
  <input type="number" name="bar_speed"><br>
  Pre-stimulus time (ms):
  <input type="number" name="bar_speed"><br>
  Post-stimulus time (ms):
  <input type="number" name="bar_speed"><br>
  <input type="submit" value="Start stimulus">
</form>
