body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

html, body {
    WIDTH: 100%; height: 100%
}

canvas {
    display: block;
}

@font-face {
    font-family: Sloan;
    src: url(Sloan.ttf)
}